IMAGE_TAG=58a9c5c
SECRET_KEY=qt6BI6OLfhfT0XRYifd_gKZY41XimIvxd1ZyEVJdOtI

DOMAIN=userquery.linea.org.br
SITE_URL=https://userquery.linea.org.br
BASE_URL=/

DEBUG=False
AUTORELOAD=0
LOG_LEVEL=INFO
ASYNC=True

# Django SAML2
AUTH_SAML2_ENABLED=True
AUTH_SAML2_LOGIN_URL_CAFE=https://userquery.linea.org.br/saml2/login/?idp=https://satosa.linea.org.br/linea_saml/proxy&next=/query
AUTH_SAML2_LOGIN_URL_CILOGON=https://userquery.linea.org.br/saml2/login/?idp=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==&next=/query

# COmanage Autorization
COMANAGE_SERVER_URL=https://register.linea.org.br
COMANAGE_USER=co_2.linea.apps
COMANAGE_PASSWORD=password
COMANAGE_COID=2

# UWSGI
DJANGO_UWSGI_PROCESSES=4
DJANGO_UWSGI_THREADS=2
DJANGO_UWSGI_AUTORELEAD=1

# RABBITMQ
RABBITMQ_DEFAULT_USER=daiquiri
RABBITMQ_DEFAULT_PASS=daiquiriadmin
RABBITMQ_DEFAULT_VHOST=

# Celery Configs
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbit:5672/${RABBITMQ_DEFAULT_VHOST}

# --------------------------------------
# DATABASE ADMIN used in Django
DATABASE_ADMIN_DB=db_userquery
DATABASE_ADMIN_USER=user_dridev
DATABASE_ADMIN_PASSWORD=password
DATABASE_ADMIN_HOST=desdb4.linea.org.br
DATABASE_ADMIN_PORT=5432

# DATABASE Catalog PROD_GAVO onde são criados os mydb_ dos usuarios.
# O usuario deve ser o mesmo utilizado nos ambientes -dev e production
# e principalmente deve ser o usuario que tem privilegios para manipular os mydbs.
DATABASE_CATALOG_DB=prod_gavo
DATABASE_CATALOG_USER=user_dridev
DATABASE_CATALOG_PASSWORD=password
DATABASE_CATALOG_HOST=desdb4.linea.org.br
DATABASE_CATALOG_PORT=5432


# Daiquiri/Django Databases URI
# -------------------------------------
DATABASE_APP=postgresql://${DATABASE_ADMIN_USER}:${DATABASE_ADMIN_PASSWORD}@${DATABASE_ADMIN_HOST}:${DATABASE_ADMIN_PORT}/${DATABASE_ADMIN_DB}
DATABASE_DATA=postgresql://${DATABASE_CATALOG_USER}:${DATABASE_CATALOG_PASSWORD}@${DATABASE_CATALOG_HOST}:${DATABASE_CATALOG_PORT}/${DATABASE_CATALOG_DB}
