__pycache__/
*.py[cod]

*~
*-
*.swp
.DS_Store

daiquiri/config/settings/local.py
daiquiri/download
daiquiri/upload
daiquiri/log
daiquiri/vendor
daiquiri/media_root
daiquiri/static_root
daiquiri/*.sqlite3
daiquiri/.coverage
daiquiri/htmlcov
/env
/venv
/.env

data/*
log/*
pg_data
local.py
.env
docker-compose.yml
local_settings.py
nginx-proxy.conf
