SECRET_KEY=q5p0qww1l3lddnghh5!l!&^n6&ii9$^hts34@h%rb$

# Dominio sem http:// ou https://
# Exemplo: DOMAIN="userquery-dev.linea.org.br"
DOMAIN=localhost
BASE_HOST=http://localhost
# Site URl com http:// ou https:// e porta caso necessário mas sem / no final
# Exemplo: SITE_URL=https://userquery-dev.linea.org.br
SITE_URL=${BASE_HOST}
BASE_URL=/

DEBUG=True
AUTORELOAD=1
LOG_LEVEL=DEBUG
ASYNC=True

# Auth SAML2
AUTH_SAML2_ENABLED=False

# SATOSA DEVELOPMENT
LINEA_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa-dev.linea.org.br/linea_saml_mirror/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==
LINEA_REGISTER_URL=https://register-dev.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register-dev.linea.org.br/registry/co_petitions/start/coef:155&entityID=https://satosa.linea.org.br/linea/proxy/aHR0cHM6Ly9jaWxvZ29uLm9yZw==

RUBIN_LOGIN_URL=$BASE_HOST/saml2/login/?idp=https://satosa-dev.linea.org.br/linea_saml_mirror/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQ=&next=/
RUBIN_REGISTER_URL=https://register-dev.linea.org.br/Shibboleth.sso/Login?SAMLDS=1&target=https://register-dev.linea.org.br/registry/co_petitions/start/coef:231&entityID=https://satosa-dev.linea.org.br/linea_saml_mirror/proxy/aHR0cHM6Ly9kYXRhLmxzc3QuY2xvdWQ=


# WSGI
DJANGO_GUNICORN_THREADS=1
DJANGO_GUNICORN_WORKERS=1
DJANGO_GUNICORN_RELOAD=True

# RABBITMQ
RABBITMQ_DEFAULT_USER=daiquiri
RABBITMQ_DEFAULT_PASS=adminadmin
RABBITMQ_DEFAULT_VHOST=daiquiri_vhost

# Celery Configs
CELERY_BROKER_URL=amqp://${RABBITMQ_DEFAULT_USER}:${RABBITMQ_DEFAULT_PASS}@rabbit:5672/${RABBITMQ_DEFAULT_VHOST}

# --------------------------------------
# POSTGRES
POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres

# DATABASE ADMIN used in Django
DATABASE_ADMIN_USER=${POSTGRES_USER}
DATABASE_ADMIN_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_ADMIN_HOST=database
DATABASE_ADMIN_PORT=5432
DATABASE_ADMIN_DB=daiquiri_app

# DATABASE Catalog used in Django
DATABASE_CATALOG_USER=${POSTGRES_USER}
DATABASE_CATALOG_PASSWORD=${POSTGRES_PASSWORD}
DATABASE_CATALOG_HOST=database
DATABASE_CATALOG_PORT=5432
DATABASE_CATALOG_DB=daiquiri_data

# Daiquiri/Django Databases URI
# -------------------------------------
DATABASE_APP=postgresql://${DATABASE_ADMIN_USER}:${DATABASE_ADMIN_PASSWORD}@${DATABASE_ADMIN_HOST}:${DATABASE_ADMIN_PORT}/${DATABASE_ADMIN_DB}
DATABASE_DATA=postgresql://${DATABASE_CATALOG_USER}:${DATABASE_CATALOG_PASSWORD}@${DATABASE_CATALOG_HOST}:${DATABASE_CATALOG_PORT}/${DATABASE_CATALOG_DB}
