{% load static %}

<title>{% if request.site %}{{ request.site.name }}{% else %}LIneA User Query{% endif %}</title>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

<meta property="og:title" content="{% if request.site %}{{ request.site.name }}{% else %}LIneA User Query{% endif %}" />
<meta property="og:url" content="{% if request.site %}{{ request.site.domain }}{% else %}{{ request.get_host }}{% endif %}" />

<meta name="baseurl" content="{% url 'home' %}" />
<meta name="staticurl" content="{% static '' %}" />
<meta name="userid" content="{{ request.user.id|default_if_none:'' }}" />
<meta name="is_staff" content="{{ request.user.is_staff|default_if_none:'false'|lower }}" />

<link rel="shortcut icon" href="{% static 'core/img/favicon.png' %}" type="image/png" />
